<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/css/lib/bootstrap.min.css}" rel="stylesheet">
</head>
<body>
<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#message">惦记我</button>
<div class="modal fade " id="message" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-sm " role="document" style="top: 30%;">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" style="color: black"><strong>提示</strong></h4>
            </div>
            <div class="modal-body">
                <p id="messageBody" th:text="${message}" style="color: red">测试一下</p>
            </div>
            <div class="modal-footer" style="border-top: none">
                <button type="button" class="btn btn-default" data-dismiss="modal" >Close</button>
            </div>
        </div>
    </div>
</div>
</body>
<script type="text/javascript" th:src="@{/js/lib/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/js/lib/bootstrap.min.js}"></script>
</html>